<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <script defer src="../js/x_getlocation.js"></script>
    <script defer src="../js/x1_locationOrders.js"></script>
    <script defer src="../js/x2_locationCars.js"></script>
    <title>V-2-Enerjisa Home</title>
</head>
<body>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="my-main-container">
        <div class="container-operation-centers">
            <% operationNames.forEach(operation => { %>
                <div class="om-section">
                    <a href="/enerjisa/om/<%= operation._id %>"><%= operation._id%></a>
                </div>
            <% }) %>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="container-reports">
             Raporlar...
        </div>
        <br><br>
        <div class="locationcontainer">
            <div class="locations location-1"></div>
            <div class="locations location-2 location-orders">Bana Yakın Çalışılan İşleri Listele</div>
            <div class="locations location-3 location-cars">Bana Yakın Sahadaki Araçları Listele</div>
            <div class="locations location-4">Bana Yakın Bildirimleri Listele</div>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- <div class="container-others bg-warning m-2 p-2 d-flex justify-content-center align-items-center"></div> -->
        
    </div>
    
</body>
</html>