<div class="icon-sapwfm" data-sapwfm-workerid="<%= data.VAR_SICIL.trim()%>">
    <img src="../../svg/sapwfm.svg">
</div>
<div class="sapwfm-summary-info">
    <div class="sapwfm-summary-info-totalsapwfm">
       SAP
    </div>
</div>