<div class="column">
    <div class="row">AKSİYONLU:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">DENETİM TARİHİ:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">TOPLAM DENETİM SAYISI:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">TOPLAM AKSİYONLU DENETİM SAYISI:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">TOPLAM AKSİYONSSUZ DENETİM SAYISI:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">SON DENETİM TARİHİ:</div>
    <div class="row">...</div>
</div>