    <div class="column">
        <div class="row">OLAY TARİHİ:</div>
        <div class="row">...</div>
    </div>
    <div class="column">
        <div class="row">OLAY KATEGORİSİ:</div>
        <div class="row">...</div>
    </div>
    <div class="column">
        <div class="row">OLAYIN ANA TİPİ:</div>
        <div class="row">...</div>
    </div>
    <div class="column">
        <div class="row">OLAY SEBEBİ:</div>
        <div class="row">...</div>
    </div>
    <div class="column">
        <div class="row">İŞ GÜNÜ KAYBI:</div>
        <div class="row">...</div>
    </div>
