<div class="column">
    <div class="row">İŞ EMRİ NO:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">KAYIT TARİHİ:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">UYGUN OLMAYAN DURUM:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">VİDEO LİNKİ:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">KİM İZLEDİ:</div>
    <div class="row">...</div>
</div>
<div class="column">
    <div class="row">UYGUNSUZLUĞUN AÇIKLAMASI:</div>
    <div class="row">...</div>
</div>