<div class="column">
    <div class="row">AÇIKLAMA EKLE</div>
    <div class="row">
       <textarea id="textarea"></textarea>
    </div>
</div>
<div class="column">
    <div class="row">TEHLİKELİ DURUM BİLDİR</div>
    <div class="row">
      <input type="file" id="fileInput">
    </div>
</div>
<div class="column">
    <div class="row">BULUNDUĞUN ENLEM</div>
    <div class="row" id="latitude">
      ...
    </div>
</div>
<div class="column">
    <div class="row">BULUNDUĞUN BOYLAM</div>
    <div class="row" id="longitude">
     ...
    </div>
</div>
<div class="column">
    <div class="row">BULUNDUĞUN KONUM DOĞRULUĞU</div>
    <div class="row" id="accuracy">
     ...
    </div>
</div>
<div class="column">
    <div class="row">...</div>
    <div class="row">
        <button id="submitbtn">FORMU GONDER</button>
    </div>
</div>